{{#if this.url}}
   <h5>Debug Output</h5>
   <p><code>url.proto:   {{this.url.protocol}}</code></p>
   <p><code>url.host:    {{this.url.host}}</code></p>
   <p><code>url.port:    {{this.url.port}}</code></p>
   <p><code>url.path:    {{this.url.path}}</code></p>
   <p><code>url.url:     {{this.url.url}}</code></p>
   <p><code>url.query:   {{this.url.query}}</code></p>
   <p><code>url.referer: {{this.url.referer}}</code></p>

   {{!-- {{
   <p><code>origURL:     {{this.url.origURL}}</code></p>
   <p><code>queryJSON:   {{this.url.queryJSON}}</code></p>
   }} --}}
{{/if}}

{{#if this.data}}
   {{!-- {{
   <p><code>data:        {{this.dataJSON}}</code></p>
   }} --}}
{{/if}}
