<h1>{{this.title}}
   <small>
      <a href="/listings{{#unless this.test}}?test=1{{/unless}}">({{#if this.test}}stop {{/if}}Test)</a>{{!-- |
      <a href="/listings{{#unless this.debug}}?debug=1{{/unless}}">({{#if this.debug}}hide {{/if}}Debug)</a> --}}
   </small>
</h1>

<p class="lead">{{#if this.data.listings}}Here are your listings.{{else}}Shows a list of available items.{{/if}}</p>

<a href="/listing/add/{{#if this.url.query}}?{{this.url.query}}{{/if}}" class="btn btn-mini">+</a>

{{#if this.data.listings}}
   <ul class="list-unstyled">
   {{#with data}}

   {{#unless debug}}
   <!-- NOTE: context shift !!! To access 'this' in the root object we have to step up like with dir traversal: root/data/listings/listing -->
   {{/unless}}

   {{#each listings}}
      <li>{{this.title}} |
         <a href="/listing{{this.url.base}}">Details</a> |
         <a href="/listing{{this.url.edit}}">Edit</a>
      </li>
   {{/each}}
   {{/with}}
   </ul>
{{else}}
   <p>No listings.</p>
{{/if}}

<ul class="list-unstyled text-center">
   {{#unless showForm}}
   <li class="pull-left">
      <a href="/{{#if this.url.query}}?{{this.url.query}}{{/if}}">&laquo;back Home</a>
   </li>
   {{/unless}}
</ul>
