<h1>{{this.title}}
   <small>
      <a href="/listings{{#unless this.test}}?test=1{{/unless}}">({{#if this.test}}stop{{else}}start{{/if}} tests)</a> |
      <a href="/listings{{#unless this.debug}}?debug=1{{/unless}}">({{#if this.debug}}hide{{else}}show{{/if}} debug)</a>
   </small>
</h1>

<p class="lead">{{#if this.data.listings}}Here are your listings.{{else}}Shows a list of available items.{{/if}}</p>

{{#if this.data.listings}}
   <ul class="list-unstyled">
   {{#with data}}

   {{#unless debug}}
   <!-- NOTE: context shift !!! To access 'this' in the root object we have to step up like with dir traversal: root/data/listings/listing -->
   {{/unless}}

   {{#each listings}}
      <li>
         <a href="/listing/{{this.id}}/{{this.alias}}/{{#if ../../../this.url.query}}?{{../../../this.url.query}}{{/if}}">{{this.title}}</a>
      </li>
   {{/each}}
   {{/with}}
   </ul>
{{else}}
   <p>No listings.</p>
{{/if}}

<ul class="list-unstyled text-center">
   <li class="pull-left">
      <a href="/{{#if this.url.query}}?{{this.url.query}}{{/if}}">&laquo;Home</a>
   </li>
</ul>
