<% if (!data || !data.instagram) { %>
   <pre>No images.</pre>
<% } else { %>
   <% if (isTino) { %>
   <% var icnt = 1, vcnt = 1; %>
   <h5>Medien:
      <small id="nummedia">0</small>
   </h5>
   <h5>Bilder:
      <small id="numimg">0</small>
   </h5>
   <h5>Videos:
      <small id="numvid">0</small>
   </h5>
   <h5>Counter:
      <small id="counter">0</small>
   </h5>
   <h5>Device:
      <small id="device"><%= isMobile ? 'mobile' : '' %></small>
   </h5>
   <pre id="status"><pre><h5>Status:</h5></pre></pre>
   <% } %>

   <div class="row">
      <% data.instagram.media.forEach(function(item) { %>
      <% if (item.user && item.user.username === 'annika_knaeckebrot') { %>
      <% if (item.type === 'image') { %>

      <% if (!isTino || (isTino && icnt < 2)) { %>
      <div class="col-sm-6 col-md-3">
         <a href="<%= item.images.standard_resolution.url %>" class="thumbnail image<%= isMobile ? ' mobile' : '' %>"
            rel="lightbox" title="" data-media-type="<%= item.type %>" data-media-icon="camera">
            <img src="<%= item.images.low_resolution.url %>" alt="Picture of Lotti">
            <% if (data.instagram.showCaption) { %>
            <div class="caption">
               <h5 class="caption-title"></h5>
               <% if (item.caption.text) { %>
               <p class="caption-text">
                  <%= item.caption.text.substr(0, item.caption.text.indexOf('#') - 1).replace(/\?{2,}/g, '').trim() %>
               </p>
               <% } %>
            </div>
            <% } %>
         </a>
      </div>
      <% icnt++ %>
      <% } %>

      <% } else if (item.type === 'video' && !isHbb) { %>

      <% if (!isTino || (isTino && vcnt < 2)) { %>
      <div class="col-sm-6 col-md-3">
         <a href="javascript:;" class="thumbnail video<%= isMobile ? ' mobile' : '' %> loading" data-toggle="play"
            data-target="#<%= item.id %>" title="" data-media-type="<%= item.type %>" data-media-icon="video-camera">
            <div class="video-wrapper">
               <video width="100" height="100" id="<%= item.id %>" poster="<%= item.images.low_resolution.url %>"
                      data-src="<%= isMobile ? item.videos.low_bandwidth.url : item.videos.standard_resolution.url %>">
                  <source src="" type="video/mp4">
                  <code>Dieser Browser unterst&uuml;tzt keine Videowiedergabe.</code>
               </video>
               <div class="overlay video-overlay">
                  <div class="overlay-icons video-overlay-icons">
                     <div class="player-status">Loading ...</div>
                     <div class="player-toggles" style="display:none">
                        <i class="fa fa-video-camera media-icon pull-right"></i>
                        <div class="player-toggle play">
                           <i class="fa fa-play"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </a>
      </div>
      <% vcnt++ %>
      <% } %>

      <% } %>
      <% } %>
      <% }); %>
   </div>
<% } %>
