<% if (!data || !data.instagram) { %>
   <pre>No images.</pre>
<% } else { %>
   <div class="row">
   <% data.instagram.media.forEach(function(item) { %>
      <% if (item.user && item.user.username === 'annika_knaeckebrot') { %>
      <div class="col-sm-6 col-md-3">
         <% if (item.type === 'image') { %>
	     <a href="<%= item.images.standard_resolution.url %>" class="thumbnail image" rel="lightbox" title="" data-media-type="<%= item.type %>" data-media-icon="camera">
		    <img src="<%= item.images.low_resolution.url %>" alt="Picture of Lotti">
            <% if (data.instagram.showCaption) { %>
			<div class="caption">
			   <h5 class="caption-title"></h5>
			   <% if (item.caption.text) { %>
			   <p class="caption-text">
				  <%= item.caption.text.substr(0, item.caption.text.indexOf('#')-1).replace(/\?{2,}/g, '').trim() %>
	           </p>
			   <% } %>
			</div>
            <% } %>
		 </a>
         <% } else if (item.type === 'video') { %>
	     <a href="javascript:;" class="thumbnail video" data-toggle="play" data-target="#<%= item.id %>" title="" data-media-type="<%= item.type %>" data-media-icon="video-camera">
			<div class="video loading">
			   <div class="status">Loading...</div>
			   <video width="320" height="319" id="<%= item.id %>">
  			     <source src="<%= item.videos.low_bandwidth.url %>" type="video/mp4"><code>Dieser Browser unterst&uuml;tzt keine Videowiedergabe.</code>
			   </video>
			</div>
		 </a>
         <% } else { %>
	     <div class="thumbnail" rel="" title="">
		    <div>Undefined Media Type</div>
		 </div>
         <% } %>
	  </div>
      <% } %>
   <% }); %>
   </div>
<% } %>
