<% if (!data || !data.instagram) { %>
   <pre>No images.</pre>
<% } else { %>
   <div class="row">
   <% data.instagram.media.forEach(function(item) { %>
      <% if (item.user && item.user.username === 'annika_knaeckebrot') { %>
      <div class="col-sm-6 col-md-3">
         <% if (item.type === 'image') { %>
	     <a href="<%= item.images.standard_resolution.url %>" class="thumbnail" rel="lightbox" title="" data-media-type="<%= item.type %>" data-media-icon="camera">
		    <img src="<%= item.images.low_resolution.url %>" alt="Lotti-Karotti">
            <% if (data.instagram.showCaption) { %>
			<div class="caption">
			   <h5 class="caption-title"></h5>
			   <% if (item.caption.text) { %>
			   <p class="caption-text">
				  <%= item.caption.text.substr(0, item.caption.text.indexOf('#')-1).replace(/\?{2,}/g, '').trim() %>
	           </p>
			   <% } %>
			   <!-- p class="caption-media-owner"><%= item.caption.full_name %></p -->
			   <!-- p class="caption-media-date"><%= item.caption.created_time %></p -->
			</div>
            <% } %>
		 </a>
         <% } else if (item.type === 'video') { %>
	     <a href="javascript:;" class="thumbnail" class="thumbnail" rel="" title="" data-media-type="<%= item.type %>" data-media-icon="video-camera">
		    <img src="<%= item.images.low_resolution.url %>" alt="Lotti-Karotti">
            <% if (data.instagram.showCaption) { %>
			<div class="caption">
			   <h5 class="caption-title"></h5>
			   <% if (item.caption.text) { %>
			   <p class="caption-text">
				  <%= item.caption.text.substr(0, item.caption.text.indexOf('#')-1).replace(/\?{2,}/g, '').trim() %>
	           </p>
			   <% } %>
			   <!-- p class="caption-media-owner"><%= item.caption.full_name %></p -->
			   <!-- p class="caption-media-date"><%= item.caption.created_time %></p -->
			</div>
            <% } %>
		 </a>
         <% } else { %>
	     <div class="thumbnail" rel="" title="">
		    <div>Undefined Media Type</div>
		 </div>
         <% } %>
	  </div>
      <% } %>
   <% }); %>
   </div>
<% } %>
